trigger:
  branches:
    include:
      - master
      - develop
      - feature/*
      - release/*

  tags:
    include:
      - 'v*'

pr:
  branches:
    include:
      - master

pool:
  vmImage: ubuntu-22.04

variables:
  buildConfiguration: 'Release'

steps:
# Needed for tests, since we're multi-targeting:
- task: UseDotNet@2
  displayName: Install .NET 7.0.x

  inputs:
    packageType: sdk # we shouldn't need the SDK (only the runtime), but this task is braindead and so tests will only find runtimes from SDK packages
    version: 7.0.x

- task: UseDotNet@2
  displayName: Install .NET 8.0.x runtime

  inputs:
    packageType: sdk # we shouldn't need the SDK (only the runtime), but this task is braindead and so tests will only find runtimes from SDK packages
    version: 8.0.x
    
- task: UseDotNet@2
  displayName: Install .NET 9.0.x runtime

  inputs:
    packageType: sdk # we shouldn't need the SDK (only the runtime), but this task is braindead and so tests will only find runtimes from SDK packages
    version: 9.0.x

- task: UseDotNet@2
  displayName: Install .NET 10.0.x runtime

  inputs:
    packageType: sdk # we shouldn't need the SDK (only the runtime), but this task is braindead and so tests will only find runtimes from SDK packages
    version: 10.0.x

- task: UseDotNet@2
  displayName: Configure .NET SDK from global.json

  inputs:
    packageType: sdk
    useGlobalJson: true

- task: gitversion/setup@0
  displayName: 'Install GitVersion'

  inputs:
   versionSpec: 5.x

- task: GitVersion/execute@0
  displayName: 'Determine build version'
  name: GitVersion

- script: |
    BUILD_SEMVER="$(GitVersion.FullSemVer)"
    
    echo "##vso[task.setvariable variable=BUILD_SEMVER]$BUILD_SEMVER"
    echo "BUILD_SEMVER='$BUILD_SEMVER'"
  displayName: Set environment variables from build version

- task: DotNetCoreCLI@2
  displayName: 'Restore packages'
  
  inputs:
    command: 'restore'
    projects: '$(Build.SourcesDirectory)/KubeClient.sln'
    restoreArguments: '/p:VersionPrefix="$(GitVersion.MajorMinorPatch)" /p:VersionSuffix="$(GitVersion.PreReleaseTag)"'

- task: DotNetCoreCLI@2
  displayName: 'Build solution'
  
  inputs:
    command: 'build'
    projects: '$(Build.SourcesDirectory)/KubeClient.sln'
    arguments: '--configuration "$(buildConfiguration)" /p:VersionPrefix="$(GitVersion.MajorMinorPatch)" /p:VersionSuffix="$(GitVersion.PreReleaseTag)" --no-restore'

- task: DotNetCoreCLI@2
  displayName: 'Run tests'
  
  inputs:
    command: 'test'
    projects: '$(Build.SourcesDirectory)/test/KubeClient.*.Tests/*.csproj'
    arguments: '--configuration "$(buildConfiguration)" /p:VersionPrefix="$(GitVersion.MajorMinorPatch)" /p:VersionSuffix="$(GitVersion.PreReleaseTag)" --no-build'

- task: DotNetCoreCLI@2
  displayName: 'Create packages'
  
  inputs:
    command: 'pack'
    projects: '$(Build.SourcesDirectory)/src/**/*.csproj'

    arguments: '--configuration "$(buildConfiguration)"'
    outputDir: '$(Build.ArtifactStagingDirectory)/packages'
    versioningScheme: byEnvVar
    versionEnvVar: BUILD_SEMVER

- task: PublishBuildArtifacts@1
  displayName: 'Publish packages as artifact'
  
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/packages'
    ArtifactName: 'packages'
    publishLocation: 'Container'

- task: NuGetCommand@2
  displayName: 'Publish packages to MyGet package feed'
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/packages/*.nupkg;!$(Build.ArtifactStagingDirectory)/packages/*.symbols.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'myget-tintoy'

- task: NuGetCommand@2
  displayName: 'Publish packages to NuGet package feed'
  
  condition: contains(variables['Build.SourceBranch'], 'refs/tags/v')
  
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/packages/*.nupkg;!$(Build.ArtifactStagingDirectory)/packages/*.symbols.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'nuget-tintoy'

- task: GitHubRelease@1
  displayName: 'Create GitHub release from tag'

  condition: contains(variables['Build.SourceBranch'], 'refs/tags/v')
  
  inputs:
    gitHubConnection: 'tintoy'
    repositoryName: '$(Build.Repository.Name)'
    action: 'create'
    target: '$(Build.SourceVersion)'
    tagSource: 'gitTag'
    tagPattern: '^v\d+\.\d+.\d+(-[A-Za-z0-9%\.]+)?$'
    addChangeLog: true
    assets: '$(Build.ArtifactStagingDirectory)/packages/*.nupkg'
    assetUploadMode: replace
